@import './sass/variable';
@import './sass/mixin';

*{
    padding: 0px; margin: 0px; box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
/****** header page css  ***/
@import './sass/header';

.home_wrapper_section{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.home_section_contant{
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    height: 100%;

    & h1 {
        margin: 30px 0 10px 0;
        font-size: 40px;
        font-weight: 800;
        line-height: 56px;
        text-transform: uppercase;
        color: #fff;
    }
    
    & h3{
        color: #eee;
        margin-bottom: 50px;
        font-size: 24px;
    }
    
    & .home_btn{
        padding: 8px 30px;
        border: 2px solid #fff;
        border-radius: 50px;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        background: transparent;
    }
    
  & .home_btn:hover{
        transition: 1.3s;
        background-color: $color-green;
        border: none;
    }
}

/******* About section csss *****/
.About_section_wrapper{
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 80px;

        & h2{
            color: #333;
            font-weight: 600;
            font-size: 30px;
            padding-bottom: 10px;
            padding-top: 10px;
            word-spacing: 1px;
        }
        & p{
            font-size: 15px;
            color: #999;
            padding-bottom: 20px;
            font-weight: 500;
        }
        
        & .icon{
            float: left;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            overflow: hidden;
            padding: 14px;
            border: 2px solid $color-green;
            color: $color-green;
            margin-right: 25px;
        }
        
.about_description p{
    font-size: 14px;
    padding-bottom: 12px;
    font-weight: 400;
}
    
.about_description h3{
    font-size: 18px;
    font-weight: 600px;
 }
    
    & img{
        width: 100%; 
        margin-top: 20px;
    }
    
}


/****** service section css ****/
.service_section_wrapper{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;

    & h1{
        @include main-heading;
    }
    & h4{
        @include main-heading-h4;
    }
    
    & .services_box {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 80px;
        background: #fafafa;
        border: 1px solid #e6e6e6;
        text-align: center;
        position: relative;
    }
}

.services_box h3{
    padding-top: 50px;
    font-size: 19px;
    font-weight: 600;
    color: #333;
}

.services_box p{
    padding: 10px;
    font-size: 14px;
    word-spacing: 3px;
    color: #666666;
    line-height: 25px;
}

.service_icon {
    position: absolute;
    top: -33px;
    left: 125px;
    border: 2px solid $color-green;
    color: #fff;
    background-color: $color-green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 14px;
    cursor: pointer;
}

.MuiSvgIcon-root {
    font-size: 1.8rem !important;
}

.services_box:hover .service_icon{
    background: #fff;
    color: $color-green;
}

/****** Call-to-Action css ******/
.call_to_action{
    height: 250px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;

        & h2 {
        margin: 60px 0px 20px 20px;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        }

        & p{
        color: #fff;
        padding: 10px;
        letter-spacing: 1px;
        font-size: 15px;
        }
} 

.call_to_action_contant{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    padding-left: 100px;
}


.Action_btn {
    margin-top: 130px;
    padding: 8px 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;

    &:hover{
        background-color: $color-green;
        border: none;
    }
}



/***** portfolio tabs css ****/
.portfolio_tabs_wrapper{
    background: #f7f7f7;

    
    & h1{
        @include main-heading;
    }
    & h4{
        @include main-heading-h4;
        padding-bottom: 15px;
    }
}


.tab_wrap{
    margin: 50px;
}

.tab_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

    & button {
        margin: 10px;
        padding: 10px 20px;
        border: 1px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: $color-green;
    }
}

.tab_images{
    margin-bottom: 50px;
    position: relative;
        
        & img{
        width: 100%;
        }

        & .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $color-green;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        }
    
        &:hover .overlay {
        height: 30%;
        }
        & .MuiSvgIcon-root {
            float: right;
            margin: 8px;
            color: #fff;
            cursor: pointer;
          }
        
          & span{
              color: #fff;
              margin: 5px;
              font-size: 18px;
              font-weight: 600;
          }
}

  .tab_details{
      margin: 8px;
  }
  
  /**** portfolio details css ***/
 .portfolio_header{
      background-color: #f7f7f7;
      height: 60px;

        & h3{
            font-size: 20px;
            padding-left: 60px;
            color: #666666;
             }

        & ol li{
            display: inline;
            text-decoration: none;
            padding: 10px;
            color :$color-green;
            cursor: pointer;
                }

        & ol{
            margin-right: 70px;
             }
  }

.portfolio_details_wrapper img{
    width: 100%;
    margin-top: 50px;
}


.portfolio_wrapper .carousel .control-dots .dot {
    width: 13px;
    height: 13px;
    margin: 0px 8px;
    background: #fff;
}

.portfolio_wrapper .carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover{
    background-color: $color-green;
}

.portfolio_card{
    padding: 30px;
    box-shadow: 0px 0 4px rgb(102, 102, 102);
    margin-top: 50px;
        
        & h2{
        font-size: 23px;
        font-weight: 800;
        }

        & p{
        font-size: 15px;
        color: #999;
        }
        & em{
        color: $color-green;
        }

}

.portfolio_summary h2{
    margin-top: 28px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/*** our team css ******/
.our_team_wrapper{
    margin-left: 100px;
    margin-right: 100px;
    & h1{
        @include main-heading;
      }
      & h4{
          @include main-heading-h4;
      }
      
}

.team_wrap {
    margin-top: 50px;
}

.member img{
    width: 100%;
}

.team_discription{
    margin: 20px;
    text-align: center;
        
         & h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
        }
        & span{
            font-style: italic;
            display: block;
            font-size: 13px;
            color: #999;
        }

}

.social_icons{
    margin-top: 10px;
}

.social_icons .MuiSvgIcon-root {
    padding: 2px;
    color: #999;
}

.social_icons .MuiSvgIcon-root:hover{
    color: $color-green;
}

/******** contact us css *****/
.contact_us_wrapper{
    background: #f7f7f7;
    padding-bottom: 50px;
            & h1{
                @include main-heading;
            }
            & h4{
                @include main-heading-h4;
            }
    
    .contact_map{
        margin-top: 60px;

        & iframe{
            width: 100%;
            height: 380px;
        }
    }
    
    .contact_wrap {
        margin-top: 50px;
        margin-left: 300px;
        margin-right: 300px;
    }
    
    .contact_icon .MuiSvgIcon-root {
        float: left;
        color: $color-green;
    }
    
    .contact_icon{
        margin-top: 10px;
    }
    
    .contact_social_link .MuiSvgIcon-root {
        border: 1px solid;
        border-radius: 50%;
        background: #333;
        color: #fff;
        margin: 4px;
        width: 35px;
        height: 35px;
        padding: 8px;
        margin-top: 20px;
        cursor: pointer;
    }
    
    .contact_social_link .MuiSvgIcon-root:hover{
        background: $color-green;
    }

    .contact_icon p{
        padding: 0 0 10px 50px;
        margin-bottom: 20px;
        line-height: 22px;
        font-size: 14px;
    }
    
    .contact_wrap input, textarea{
        width: 100%;
        padding: 5px;
        margin: 10px;
        outline: none;
        resize: none;
        border: 1px solid #ced4da;
        font-size: 14px;
        font-weight: 400;
    }
    .contact_btn{
        padding: 8px 30px;
        border: none;
        background: $color-green;
        color: #fff;
        margin-left: 100px;
    }
    
}

/*** footer css ***/
.footer{
    height: 100px;
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
}

.component_wrapper{
    min-height: 80vh;
}